
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  font-family: "Impact";
  font-size: 95%;
}

#startCanvas {
  position:absolute;
  display: block;
  margin: auto;
}

#startScreen {
  height: 100%;
  margin-top: 20%;
    position: relative;
    text-align: center;
}

#startButton {
  margin-top: 25px;
  width:100px;
}

#gameScreen {
  position:absolute;
  display: block;
  margin: auto;
  background-image: url("../img/defender_background.png");
  background-size:contain;
}

#canonCanvas {
  position: absolute;
  display: block;
  margin: auto;
}

#gameInfos {
  display: flex;
  flex-direction: column;
  position:absolute;
}

#titleDiv {
  margin-top: 5%;
  text-align: center;
}

#caracs {
  display: flex;
  flex-direction: column;
  height: 70%;
}

hr {
  width: 100%;
  border: 2px solid green;
  border-radius: 5px;
}

.left {
  width: 70%;
}

.right {
  display: flex;
  width: 30%;
}

.plusButton {
  margin: auto;
  width: 100%;
}

.canonCaracs {
  display: flex;
}
